<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %> - Kendy React Boilerplate</title>
    </head>
    <body>
        <div id="app">

        </div>
    </body>
</html>
